/* General Styles */

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

html,
body {
  min-height: 100%;
}

a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

a:visited {
  color: inherit;
}

button {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

button:focus {
  outline: none;
}

/* Header Component */

.header {
  padding-top: 40px;
  display: flex;
  background-color: #00796b;
  box-shadow: 0 2px 2px -2px gray;
}

.header h1 {
  padding-left: 20px;
  color: #fff;
}

.header-left {
  display: inline;
  float: left;
  width: 25%;
}

.header-middle {
  display: flex;
  float: right;
  width: 75%;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
}

.header-right > button {
  font-size: 8px;
  color: #fff;
}

.header-right > a {
  color: #fff;
  float: right;
}

.nav {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
}

.nav li {
  display: inline;
  padding: 2px 10px;
  margin-right: 5px;
  color: #fff;
  background-color: #009688;
  vertical-align: baseline;
}

/* VoteScore Component */

.vote-container {
  color: grey;
}

/* Post list styles */

.posts-container {
  background-color: #fff;
  padding: 20px;
  min-height: 100%;
}

.postlist-container > div:last-child > div {
  border: none;
}

.postlist-container {
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.post-container {
  background-color: #fff;
  display: flex;
  width: 100%;
}

.post-left {
  display: flex;
}

.rank {
  padding: 10px;
  vertical-align: middle;
  margin-top: 20px;
}

.rank span {
  vertical-align: middle;
}

.post-middle {
  width: 80%;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.post-middle > p {
  margin-bottom: 5px;
}

.post-body {
  padding-top: 10px;
  color: #757575;
}

.subscript {
  font-size: 12px;
  color: grey;
}

.post-right {
  display: flex;
  border-bottom: 1px solid grey;
}

/* Post Detail Styles */

.post-detail-container {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.post-detail-container > div > div {
  border: none;
}

.comments-container {
  margin-left: 50px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* Comment Component Styles */

.comments-container > h3 {
  padding-left: 5px;
  padding-top: 5px;
}

.comment-container {
  display: flex;
}

.comment-left {
  color: grey;
}

.comment-middle {
  width: 80%;
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid grey;
}

.comment-body {
  padding-top: 10px;
}

.comment-right {
  display: flex;
  border-bottom: 1px solid grey;
}

.comments-title {
  margin-top: 15px;
  text-align: left;
}

/* Form Styles */

.new-comment-header {
  text-align: left;
  margin-left: 50px;
  padding-top: 20px;
}

.new-comment-form {
  background-color: #fff;
  text-align: left;
  margin-left: 50px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.new-comment-form textarea,
input {
  margin: 5px;
  display: block;
  margin-left: 50px;
  border: 0;
  border-bottom: 1px solid grey;
  padding: 10px 5px;
  background: white no-repeat;
}

.new-comment-form textarea {
  height: 2em;
}

.comment-btn {
  margin-left: 50px;
}

.form-container {
  width: 600px;
  margin: auto;
  margin-top: 40px;
  border: 1px solid white;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
}

.form-container input,
textarea,
select {
  margin-top: 15px;
  width: 500px;
  height: 15px;
  outline: 0;
  margin-bottom: 10px;
  border: 0;
  border-bottom: 1px solid grey;
  padding: 10px 5px;
}

textarea {
  height: 2em;
}

.submit-button {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  background-color: black;
  border: none;
  border-radius: 2px;
  color: white;
}
